<nav class="navbar bg-dark">
  <h2>Online Shop</h2>
  <ul>
    <li routerLinkActive="active">
      <a (click)="setType('phone')">Phone</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('tablet')">Tablet</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('laptop')">Laptop</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('cart')" [routerLink]="'/cart'">Cart</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
